{% extends 'base.html' %}

{% block custom %}
<link href="{{ url_for('static',filename='css/signin.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container">
     {% if error %}
    <div class="alert alert-danger alert-dismissible " style="margin-top:20px;"  role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>Try Again! </strong> {{ error }}
    </div>
    {% endif %}

    <form method="post" class="form-signin">

        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input name="submit" class="btn btn-lg btn-success btn-block" type="submit"/>
    </form>

</div>

{% endblock %}